$black: #000;
$white: white;
$gray: #F6F6F6;
$light-blue: #97DECD;
$dark-blue: #449A97;
$green: #82df67;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 78px;
    nav {
        width: 100%;
        height: 78px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        img {
            width: 200px;
            height: 100px;
            object-fit: cover;
            object-position: center;
        }
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            li {
                a {
                    text-decoration: none;
                    margin: 0 32px;
                    display: flex;
                    align-items: center;
                    height: 78px;
                    color: $black;
                }
            }
        }
        a {
            display: flex;
            margin: 0 32px 0 0;
            align-items: center;
            color: #56c3c7;
            text-decoration: none;
        }
    }
}

.home {
    background-image: url("./asset/home.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        width: 80%;
        height: 240px;
        border-radius: 30px;
        margin-top: 180px;
        h1 {
            font-size: calc(1px + 4vw);
            text-align: center;
            letter-spacing: -0.02em;
            font-weight: 400;
            span {
                color: $green;
            }
        }
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 72%;
        height: 115px;
        margin-top: 100px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 30px;
        form {
            width: 90%;
            align-items: center;
            justify-content: space-around;
            display: flex;
            div {
                display: flex;
                flex-direction: row;
                width: 50%;
                justify-content: space-around;
            }
            input {
                color: $white;
                display: flex;
                width: 40%;
                height: 50px;
                padding: 0 0 0 8px;
                font-size: calc(1px + 1vw);
                align-items: center;
                border-radius: calc(4px + .8vw);
                border: none;
                &::placeholder {
                    color: $white;
                }
            }
        }
    }
    &-space {
        background: linear-gradient(rgba(255, 255, 255, 0), white);
        width: 100%;
        height: 200px;
    }
}

.bk-light {
    background-color: $light-blue;
}
.bk-dark {
    background-color: $dark-blue;
}

.baner {
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    h2 {
        display: flex;
        justify-content: center;
        width: 50%;
        color: $black;
        font-weight: 700;
        font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
    &-container {
        width: 50%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            text-align: center;
            width: 100%;
            color: #bbbdc4;
            font-weight: 700;
            font-size: calc(18px + 6 * ((100vw - 320px) / 680));
        }
        div {
            display: flex;
            width: 80%;
            flex-direction: row;
            justify-content: space-around;
            img {
                width: 220px;
                height: 105px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $gray;
    border-radius: 40px;
    h2 {
        color: $white;
        background-color: $dark-blue;
        font-size: calc(24px + 6 * ((100vw - 320px) / 680));
        width: calc(500px + 6 * ((100vw - 320px) / 680));
        padding: calc(6px + 6 * ((100vw - 320px) / 680)) 0;
        text-align: center;
        border-radius: 3vh;
        margin-bottom: 16px;
    }
    &-row {
        display: flex;
        flex-direction: row;
        width: 94%;
        margin: 0 3%;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 20%;
            img {
                width: 40%;
                object-fit: cover;
            }
            p {
                margin-top: 0;
                text-align: center;
                color: $black;
                font-weight: 700;
                font-size: calc(11px + 6 * ((100vw - 320px) / 680));
            }
        }
    }
}

.carrousel {
    width: 100%;
    &-engagements {
        width: 100%;
        background-color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
            color: $white;
            background-color: $dark-blue;
            font-size: calc(24px + 6 * ((100vw - 320px) / 680));
            width: calc(500px + 6 * ((100vw - 320px) / 680));
            padding: calc(6px + 6 * ((100vw - 320px) / 680)) 0;
            text-align: center;
            border-radius: 3vh;
            margin-bottom: 16px;
        }
        p {
            color: #bbbdc4;
            font-size: calc(16px + 6 * ((100vw - 320px) / 680));
            margin-top: 8px;
            text-align: center;
        }
        &-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 90%;
            margin: 0 5% 42px 5%;
            &-content {
                display: flex;
                flex-direction: column;
                width: 30%;
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 84%;
                    img {
                        width: calc(40px + 6 * ((100vw - 320px) / 680));
                        height: calc(40px + 6 * ((100vw - 320px) / 680)); 
                    }
                    p {
                        width: 90%;
                        text-align: center;
                        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
                        color: $black;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.formules {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h3 {
        color: $white;
        background-color: $dark-blue;
        font-size: calc(24px + 6 * ((100vw - 320px) / 680));
        width: calc(500px + 6 * ((100vw - 320px) / 680));
        padding: calc(6px + 6 * ((100vw - 320px) / 680)) 0;
        text-align: center;
        border-radius: 3vh;
        margin-bottom: 16px;
    }
    p {
        font-size: calc(16px + 1vw);
        color: $black;
        span {
            color: $green;
        }
    }
    &-row {
        margin: 2% 5%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        div {
            height: min-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: calc(100px + 10vw);;
            margin: 42px;
            padding: 2%;
            border-radius: 50px;
            background-color: $white;
            box-shadow: 0 30px 30px white, 0 -30px 30px white, 15px 0 30px rgba(0, 0, 0, 0.5), -15px 0 30px rgba(0, 0, 0, 0.5);
            h4 {
                color: $black;
                font-size: calc(2px + 1.1vw);
                text-align: center;
                margin: 8px;
            }
            p {
                color: #545454;
                font-size: calc(1px + .9vw);
                text-align: center;
                margin-bottom: 8px;
            }
            ul {
                li {
                    color: #545454;
                    font-size: calc(2px + 0.85vw);
                }
            }
            button {
                border: none;
                border-radius: 30px;
                width: 80%;
                font-size: calc(2px + 0.85vw);
                color: $white;
                height: calc(1px + 2.5vw);
            }
        }
        &-light-button {
            background-color: $light-blue;
        }
        &-dark-button {
            background-color: $dark-blue;
        }
    }
}

.achievement {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    div {
        width: calc(100px + 16vw);
        height: calc(200px + 8vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: calc(180px + 0.6vw);
            height: calc(180px + 0.6vw);
            object-fit: cover;
            object-position: center;
        }
        h3 {
            color: $black;
            font-size: calc(10px + 1vw);
            font-weight: 700;
            margin: 0;
            span {
                color: $light-blue;
                font-size: calc(24px + 1vw);
            }
        }
        p {
            font-size: calc(10px + 1vw);
            margin: 0;
            text-align: center;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $gray;
    img {
        width: calc(50px + 16vw);
        height: calc(50px + 8vw);
        object-fit: cover;
        object-position: 50% 30%;
    }
}

.footer {
    &-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: calc(12px + 1.3vw);
            margin: 0;
            span {
                color: #56c3c7;
            }
        }
        img {
            width: calc(10px + 3vw);
            height: calc(10px + 3vw);
            margin-left: 16px;
        }
    }
    &-baner {
        width: 60%;
        display: flex;
        justify-content: space-around;
        &-top {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
        &-light {
            background-color: $light-blue;
        }
        &-dark {
            background-color: $dark-blue;
        }
        p {
            text-align: start;
            width: calc(16px + 8vw);
            padding: calc(2px + .8vw);
            border-radius: calc(4px + .8vw);
            font-size: calc(1px + .7vw);
            color: $white;
        }
    }
    &-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 84%;
        p {
            color: $black;
            font-size: calc(10px + 1vw);
            a {
                color: $black;
                text-decoration: none;
            }
        }
        &-mid {
            text-align: center;
        }
        &-bot {
            text-align: end;
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        nav {
            justify-content: center;
            ul {
                display: none;
            }
            p {
                display: none;
            }
        }
    }
    
    .home {
        &-title {
            height: auto;
            br {
                display: none;
            }
            h1 {
                font-size: calc(10px + 4vw);
            }
        }
        &-container {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            height: auto;
            width: 76%;
            form {
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                height: auto;
                margin: 10px 0;
                div {
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                }
                input {
                    margin: 10px 0;
                    width: 80%;
                    font-size: 22px;
                }
            }
        }
    }
    .baner {
        flex-direction: column;
        h2 {
            margin-top: 32px;
            text-align: center;
            br {
                display: none;
            }
        }
        div {
            height: auto;
            br {
                display: none;
            }
        }
    }
    .logo {
        h2 {
            width: 75%;
        }
    }
    .formules {
        h3 {
            width: 75%;
        }
        p {
            width: 80%;
            text-align: center;
        }
        &-row {
            flex-direction: column;
            align-items: center;
            div {
                width: 70%;
                h4 {
                    font-size: calc(6px + 2.5vw);
                }
                p {
                    font-size: calc(6px + 2vw);
                }
                ul {
                    li {
                        font-size: calc(6px + 1.5vw);
                    }
                }
                button {
                    width: 50%;
                    height: 36px;
                    margin: 6px 0;
                    font-size: calc(6px + 1.5vw);
                }
            }
        }
    }
    .carrousel {
        &-engagements {
            h3 {
                width: 75%;
            }
            p {
                width: 90%;
                br {
                    display: none;
                }
            }
            &-container {
                flex-direction: column;
                &-content {
                    flex-direction: row;
                    width: 80%;
                }
            }
        }
    }
    .achievement {
        div {
            width: 33%;
            height: auto;
            img {
                width: calc(1px + 10vw);
                height: calc(1px + 10vw);
            }
            h3 {
                font-size: calc(1px + 2vw);
                span {
                    font-size: calc(1px + 3vw);
                }
            }
        }
    }
    .footer {
        &-baner {
            flex-direction: column;
            p {
                display: flex;
                width: 30%;
                height: 20px;
                font-size: calc(1px + 1.5vw);
                align-items: center;
            }
        }
        &-contact {
            flex-direction: column;
            &-top {
                text-align: center;
            }
            &-bot {
                text-align: center;
            }
        }
    }
}